.mymodal{
    display:none;
  }
  
  .mymodal .overlay{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
  }
  
  .mymodal .content{
    display:block;
    margin:50px auto;
    width:500px;
    min-height:300px;
    background-color: #fefefe;
    border-radius: 10px;
    padding:20px;
    color: #333333;
    position:relative;
  }
  
  .mymodal .close{
    position:absolute;
    right:20px;
    top:20px;
    transition: .5s;
    cursor: pointer;
  }
  
  .mymodal .close:hover{
    transform: rotate(180deg);
  }
  
  h3{
    margin-top:0;
  }
  
  @media(max-width:550px){
    .mymodal .content{
      width:90%;
      margin-top: 5px;
      height:90%;
    }
  }