<header class="header">
  <div class="header__top">
    <!-- контейнер для ограничения размеров -->
    <div class="container">
      <!--внутренняя обертка для передачи особенностей -->
      <div class="header__top-inner">
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="munu__link" href="#">Магазины</a>
            </li>
            <li class="menu__item">
              <a class="munu__link" href="#">Акции</a>
            </li>
            <li class="menu__item">
              <a class="munu__link" href="#">Доставка</a>
            </li>
          </ul>
        </nav>
        <a class="logo" [routerLink]="['/']">
          <img class="logo__img" src="../assets/images/logo.svg" alt="" />
        </a>
        <div class="header__box">
          <p class="header__adress">
            Москва, ул. Науки 25
          </p>
          <ul class="user-list">
            <li class="user-list__item">
              <a class="user-list__link" href="#">
                <img src="../assets/images/icons/heart.svg" alt="" />
              </a>
            </li>
            <li class="user-list__item">
              <a class="user-list__link" href="#">
                <img src="../assets/images/icons/user.svg" alt="" />
              </a>
            </li>
            <li class="user-list__item">
              <a class="user-list__link basket" href="#">
                <img src="../assets/images/icons/basket.svg" alt="" />
                <span class="basket__num">5</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
        <ul class="menu-categories">
          <li class="menu-categories__item">
            <a class="menu-categories__link" href="catalog.html">
              Квадроциклы
            </a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link" href="#">
              Катера
            </a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link" href="#">
              Гидроциклы
            </a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link" href="#">
              Лодки
            </a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link" href="#">
              Вездеходы
            </a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link" href="#">
              Снегоходы
            </a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link" href="#">
              Двигатели
            </a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link" href="#">
              Запчасти
            </a>
          </li>
        </ul>
    </div>
  </div>
</header>

<div class="mymodal">
  <div class="overlay">
    <div class="content">
      <i class="fa fa-times close" aria-hidden="true"></i>
      <h3>Модальное окно</h3>
      <app-sign-in></app-sign-in>
    </div>
  </div>
</div>


<!-- <nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      medium
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">
          Home
        </a>
      </li>
      <ng-container *ngIf="isLoggedIn$ | async">
        <li class="nav-item">
          <a [routerLink]="['/articles/new']" class="nav-link">
            <i class="ion-compose"></i>
            &nbsp; New Post
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/settings']" class="nav-link">
            <i class="ion-gear-a"></i>
            &nbsp; Settings
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/profiles', (currentUser$ | async).username]"
            class="nav-link"
          >
            <img class="user-pic" [src]="(currentUser$ | async).image" />
            &nbsp; {{ (currentUser$ | async).username }}
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="isAnonymous$ | async">
        <li class="nav-item">
          <a [routerLink]="['/login']" class="nav-link">
            Sign in
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/register']" class="nav-link">
            Sign up
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
 -->